auto-install-peers=false
strict-peer-dependencies=false
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=@types/express
public-hoist-pattern[]=@types/multer
public-hoist-pattern[]=express
public-hoist-pattern[]=multer
public-hoist-pattern[]=pdf-parse
